			</div><!-- end #main-content -->
			<div id="footer" class="clear">
				<div id="copyright" class="span-8 prepend-1">
					<p class="no-line-height no-bottom-margin light-blue">&copy; Copyright Michael Barr 2013</p>
					<p class="no-line-height no-bottom-margin light-gray">Authorised and regulated by the Financial Conduct Authority.</p>
					<p class="no-line-height light-gray">Registered in England 1661236. VAT registered no. 7332486</p>
				</div><!-- end #copyright -->
			</div><!-- end #footer -->


		</div><!-- close .container -->

		<script type="text/javascript">
		$(document).ready(function(){
			$('.quote').cycle({'timeout':6000});
		});
		</script>


		<script type="text/javascript">
		$(document).ready(function(){
			$('#talk-to-us').click(function(){
				$('#fader').fadeIn(200);
			});
		});
		</script>

		<script type="text/javascript">
		$(document).ready(function(){
			$('#middle-col').fadeIn(400);
			$('#right-col').fadeIn(400);
			$('#do-masonry').fadeIn(400);
			$('#blog').fadeIn(400);
			$('.blog-entry').fadeIn(400);
			$('.big-endorsement').fadeIn(600);
			$('#prev-next').fadeIn(600);
		});
		</script>

		<script type="text/javascript">
		$(window).load(function(){
		    $('#do-masonry').masonry({
		        itemSelector : '.span-8'
		    });
		});
		</script>


	</body>
</html>
