<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<html>
	<head>
		<meta name="description" content="index investing, low-cost investments" />
		<meta name="keywords" content="index investing, low-cost investments" />

		<title>Index investing, low-cost investments &mdash; Michael Barr &amp; Co Ltd</title>

		<link rel="stylesheet" type="text/css" media="screen" href="{site_url}css/main.css" />
		<script type="text/javascript" language="Javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
		<script type="text/javascript" language="Javascript" src="{site_url}js/jquery.cycle-lite.js"></script>
		<script type="text/javascript" language="Javascript" src="{site_url}js/masonry.js"></script>
	</head>
	<body>

   <div class="container" class="span-24">
    <div id="header" class="top-pad-20 clearfix" >
    	<div id="site-title" class="span-7 prepend-1">
        <a rel="home" href="{site_url}"><h1>Invest Better Than&hellip;</h1>
        <h1 class="gray">With Michael Barr &amp; Co Ltd</h1></a>
      </div><!-- end #site-title -->


			<div id="talk-to-us" class="span-8 prepend-8 last">
				{if segment_1 != ''}
				<h3 class="light-blue" style="border-bottom:1px solid #ccc; padding-bottom:10px;">
					<a href="#">Talk to us</a>
				</h3>
				{if:else}
					<h3 class="light-blue" style="padding-bottom:10px;">&nbsp;</h3>
				{/if}
			</div><!-- end #talk-to-us -->

			<div id="fader" {if segment_1 != ''}style="display:none;"{/if}>
				<div id="street-address" class="span-4 prepend-8 top-pad-20">
				  <h3 class="light-blue">Address</h3>
				  <p class="less-line-height gray">19 Poulton Road<br />
				  Carleton<br />
				  Poulton Le Fylde<br />
				  Lancashire<br />
				  FY6 7NH</p>
				</div><!-- end #street-address -->

				<div id="tel" class="span-4 last top-pad-20">
					<h3 class="light-blue">Telephone</h3>
				    <p class="less-line-height gray">01253 885 844<br />
				    01253 890 541</p>
				    <h3 class="light-blue">Email Address</h3>
				    <p class="less-line-height"><a href="mailto:info@michaelbarr.org.uk">info@michaelbarr.org.uk</a></p>
				</div><!-- end #tel -->
			</div><!-- end the hidden 'talk to us' div -->


    </div><!-- end #header -->

    <div id="main-content">




