<div id="left-nav" class="span-7 prepend-1">
	<ul>
	    <a href="{path='simplify'}"><li {if segment_1 == 'simplify'}class="light-blue"{/if}>Simplify Your Financial Life</li></a>
	    <a href="{path='how-to'}"><li {if segment_1 == 'how-to'}class="light-blue"{/if}>How To Do Better&hellip;</li></a>
	    <a href="{path='you-will'}"><li {if segment_1 == 'you-will'}class="light-blue"{/if}>You Will Do Better&hellip;</li></a>
	    <a href="{path='the-book'}"><li id="book-li" {if segment_1 == 'the-book'}class="red"{/if}>The Book</li></a>
	    <a href="{path='bookshop'}"><li id="bookshop-li" {if segment_1 == 'bookshop'}class="red"{/if}>Bookshop</li></a>
	    <a href="{path='doing-our-bit'}"><li {if segment_1 == 'doing-our-bit'}class="light-blue"{/if}>Doing Our Bit</li></a>
	    <a href="{path='clients'}"><li {if segment_1 == 'clients'}class="light-blue"{/if}>Client Endorsements</li></a>
	    <a href="{path='blog'}"><li {if segment_1 == 'blog'}class="light-blue"{/if}>Blog</li></a>
	    <a href="{path='video'}"><li {if segment_1 == 'video'}class="light-blue"{/if}>Video</li></a>
	</ul>
</div>