{embed="includes/header"}

{embed="includes/navigation"}

<?php
$qstring = '{segment_2}';
$show_archive = ( preg_match("#(^|\/)P(\d+)#", $qstring) OR $qstring == '') ? 'y' : 'n';
if ($show_archive == 'y') { ?>

<div id="blog" class="span-12 last body-copy gray"  style="display:none;">

	{exp:channel:entries channel="blog" limit="2" paginate="bottom"}
	<div class="span-12 blog-excerpt">
		<div class="span-8">
			<a href="{path='blog'}/{url_title}"><h4>{title}</h4></a>
		</div>
		<div class="span-4 last" style="float:right;color: #999;font-size: 13px; text-shadow: 1px 1px 0 #fff;">
			<p style="text-align:right;">{entry_date format='%M %d'}</p>
		</div>
		<div class="span-12">
			<a href="{path='blog'}/{url_title}">{blog_excerpt}</a>
		</div>
	</div>

	{paginate}
	<div id="blog-prev-next">
		{if previous_page}
		<a class="prev" href="{auto_path}">Newer entries</a> &nbsp;
		{/if}
		{if {current_page} != '1' AND  "{current_page}" != "{total_pages}"  }&nbsp;|&nbsp;{/if}
		{if next_page}
		<a class="next" href="{auto_path}">Older entries</a>
		{/if}
	</div>
	{/paginate}
{/exp:channel:entries}

</div>
	<div class="span-3 last prepend-1 pull-half" style="line-height:1.2;">
		<a href="{path='feeds/blog'}" title="RSS Feed"><img style="float:right;" src="{site_url}assets/images/rss.png" alt="rss" />Subscribe to the RSS feed</a>
	</div>

<?php } else { ?>

<div id="two-last-cols" class="span-11 last body-copy gray blog-entry" style="display:none;">
	{exp:channel:entries channel="blog"}
		<h4>{title}</h4>
		{blog_body}
	{/exp:channel:entries}
	<div id="blog-prev-next" class="right">
		{exp:channel:prev_entry channel="blog"}
	   <a style="margin-right: 20px;" rel="prev" href="{path='blog'}">&lt; {title}</a>
		{/exp:channel:prev_entry}
		{exp:channel:next_entry channel="blog"}
	   <a rel="next" href="{path='blog'}">{title} &gt;</a>
		{/exp:channel:next_entry}
	</div>
</div><!-- end #two-last-cols -->

<div class="span-3 last prepend-2 pull-half" style="line-height:1.2;">
	<a href="{path='feeds/blog'}" title="RSS Feed"><img style="float:right;" src="{site_url}assets/images/rss.png" alt="rss" />Subscribe to the RSS feed</a>
</div>

<?php } ?>


{embed="includes/footer"}